.playlist-buttons {

}

#room_main {
    min-width: 1155px;
}

.player-container{
    min-width: 588px;
    min-height: 476px;
}

.player-container video{
    overflow: hidden;
}

.chat-container {

}

.chat-body{
    overflow-y : scroll;
    overflow-wrap: break-word;
    height: 485px;
}

.chat-footer{
    margin-top: 10px;
}

.modal-top-35{
    top : 35% !important;
}

.modal-top-20{
    top : 20% !important;
}

#modal_playlist_tabs_search .search-result {
    max-height: 350px;
    overflow-y: scroll;
}