<template name="nav">
    <div class="ui sidebar inverted vertical menu">
        <a href="{{pathFor 'home'}}" class="item">Home</a>
        {{#if hasOwnRoom}}
        <a href="{{pathFor 'room_home' id=roomId}}" class="item">Room</a>
        {{else}}
            <a href="{{pathFor 'room_create'}}" class="item">Create a Room</a>
        {{/if}}
    </div>
    <div class="ui black big launch right attached fixed button">
        <i class="content icon"></i>
        <span class="text">Menu</span>
    </div>

</template>